/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', Helvetica, Verdana, sans-serif;
    font-size: 11px;
    font-weight: 400;
    background-color: #131313;
    line-height: 1.5;
    color: #fff;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.wrapper {
    max-width: 1236px;
    margin: 0 auto;
    padding: 0 90px;
}

.title {
    font-family: 'Yeseva One', Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    font-size: 40px;
    margin: 0 0 19px 0;
}

.title--s {
    font-size: 20px;
    text-align: center;
}

.title--xs {
    font-size: 18px;
}

.title--align {
    font-size: 27px;
    margin-bottom: 22px;
}

.title--left {
    text-align: left;
}

.p {
    font-size: 14px;
    text-align: left;
    margin-bottom: 36px;
    padding-bottom: 32px;
    width: 442px;
}

.parament-card-text {
    margin: 0;
    padding: 0;
    height: auto;
    text-align: left;
    font-size: 13px;
    width: 442px;
    opacity: 0;
    position: absolute;
}

.parament-card-text.active {
    opacity: 1;
}

.sand-color {
    color: rgba(227, 184, 115, 1);
}

.completed-projects-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 100px 0;
}

.completed-projects-description {
    margin-top: 60px;
}

.completed-parametrs {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 213px 34px 213px;
    grid-template-columns: 213px 213px;
    -ms-grid-rows: 70px 34px 70px;
    grid-template-rows: 70px 70px;
    grid-gap: 34px;
    margin-bottom: 60px;
}

.completed-parametrs > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.completed-parametrs > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}

.completed-parametrs > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
}

.completed-parametrs > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
}

.completed-slider-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.completed-projects-gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.completed-projects-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0 0 45px 0;
    font-family: 'Yeseva One', Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    text-transform: uppercase;
}

.completed-projects-list__item {
    color: #fff;
    opacity: .3;
    margin-right: 50px;
    padding: 5px 0;
}

.completed-projects-list__item:hover, .completed-projects-list__item.active  {
    color: #E3B873;
    opacity: 1;
    border-bottom: 1px solid #E3B873;
    cursor: pointer;
}

.completed-projects-img {
    width: 679px;
    height: 483px;
}

.completed-projects-img.image {
    position: absolute;
    background-size: cover;
    background-position: center center;
    width: 679px;
    height: 483px;
    opacity: 0;
    -webkit-transition: opacity 1000ms ease-in;
    -o-transition: opacity 1000ms ease-in;
    transition: opacity 1000ms ease-in;
  }

  .completed-projects-img .image.active {
    opacity: 1;
  }

.slider-arrow {
    cursor: pointer;
}

.slider-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 30px;
}

.slider-dots__item {
    width: 10px;
    height: 10px;
    background: #fff;
    opacity: .3;
    border-radius: 50%;
    margin: 0 10px 5px 10px;
    cursor: pointer;
}

.slider-dots__item:hover, .slider-dots__item.active {
    opacity: 1;
}